{% extends 'base.html.twig' %}

{% block title %}Mentions Légales
{% endblock %}

{% block body %}

	<!-- Container for demo purpose -->
	<div
		class="container my-24 mx-auto md:px-6">
		<!-- Section: Design Block -->
		<section class="mb-32">
			<div class="grid gap-4 md:grid-cols-2">
				<div
					class=" grid align-items-center justify-items-center">
					<img
					src="build/images/mention.png" alt="" >
				</div>

				<div class="mb-6 md:mb-0">
					<p class="mb-4 font-bold">Identification</p>
					<p class=" text-neutral-500 dark:text-neutral-300">
						Nom : Sandrine Coupart
					</p>
					<p class=" text-neutral-500 dark:text-neutral-300">
						Profession : Nutritionniste Diététicienne
					</p>
					<p class=" text-neutral-500 dark:text-neutral-300">
						Numéro de téléphone : 01 23 45 67 88

					</p>
					<p class=" mb-12 text-neutral-500 dark:text-neutral-300">
						Email : info@example.com
					</p>
					<p class="mb-4 font-bold">Responsabilité</p>
					<p class="mb-12 text-neutral-500 dark:text-neutral-300">
						Le contenu de ce site web est destiné à des fins d'information générale et éducative uniquement. Les informations fournies sur ce site ne doivent pas être considérées comme un substitut à une consultation médicale ou diététique personnalisée. Chaque individu est unique, et les recommandations nutritionnelles peuvent varier en fonction de facteurs individuels tels que l'état de santé, les allergies alimentaires et les besoins spécifiques. Il est recommandé de consulter un professionnel de la santé avant d'entreprendre tout changement majeur dans votre alimentation ou votre mode de vie.
					</p>

					<p class="mb-4 font-bold">Propriété intellectuelle</p>
					<p class="mb-12 text-neutral-500 dark:text-neutral-300">
						Tous les contenus présents sur ce site, y compris mais sans s'y limiter, les textes, les images, les graphiques et les logos, sont la propriété intellectuelle de Sandrine Coupart et sont protégés par les lois sur le droit d'auteur. Aucune reproduction, distribution, modification ou utilisation des éléments protégés par le droit d'auteur ne peut être faite sans l'autorisation écrite préalable de Sandrine Coupart.
					</p>

					<p class="mb-4 font-bold">
						Confidentialité des données
					</p>
					<p class="mb-12 text-neutral-500 dark:text-neutral-300">
						Sandrine Coupart s'engage à protéger la confidentialité des informations personnelles que vous pourriez fournir lors de l'utilisation de ce site. Les informations personnelles, telles que les noms, les adresses e-mail et les numéros de téléphone, ne seront utilisées que dans le cadre des services demandés et ne seront en aucun cas vendues, louées ou partagées avec des tiers sans votre consentement.
					</p>
				</div>
			</div>
		</section>
		<!-- Section: Design Block -->
	</div>
	<!-- Container for demo purpose -->
{% endblock %}
