{% extends 'base.html.twig' %}

{% block title %}New Recette{% endblock %}

{% block body %}
    <h1 class="text-center">Ajouter une Recette</h1>
    <a href="{{ path('app_recette_index') }}">Retour à la liste des recettes</a>   
    {{ include('recette/_form.html.twig') }}

{% endblock %}
