<a class="navbar-brand m-auto" href=""><img src='build/images/logo.png' class="brand-img" alt="" height="100px"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileMenu" aria-controls="mobileMenu" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="mobileMenu">
	<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
		<li class="nav-item {{ app.request.get('_route') == 'home' ? 'active' : '' }}">
			<a class="nav-link" href="">Accueil</a>
		</li>
		{% if app.user %}
			<li class="nav-item">
				<a class="nav-link" href="">Déconnexion
					<i class="fa fa-sign-out"></i>
				</a>
			</li>
		{% else %}
			<li class="nav-item {{ app.request.get('_route') == 'app_login' ? 'active' : '' }}">
				<a class="nav-link" href="">Connexion</a>
			</li>
			<li class="nav-item {{ app.request.get('_route') == 'app_register' ? 'active' : '' }}">
				<a class="nav-link" href="">Inscription</a>
			</li>
		{% endif %}
	</ul>
</div>