{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité
{% endblock %}

{% block body %}
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Courgette &family=Dancing+Script:wght@400;500;600;700&family=Noto+Sans:ital, wght@0, 100;0, 200;0, 300;0, 400;0, 500;0, 700;0, 800;0, 900;1, 100;1, 200;1, 300;1, 400;1, 500;1, 600;1, 700;1, 800;1, 900&display=swap');

		h1,
		h3 {
			text-align: center;
			/* color: #c52126; */
			font-family: 'Courgette', cursive;
		}
	</style>

	<!-- Container for demo purpose -->
	<div
		class="relative overflow-hidden bg-no-repeat bg-cover p-16 bg-danger " style=";">
		<!-- Section: Design Block -->
		<section>
			<h1 class="text-5xl font-bold tracking-tight md:text-6xl xl:text-7xl pb-4 text-white">
				Politique de confidentialité
			</h1>
		</section>
		<!-- Section: Design Block -->
	</div>
	<div class="container my-12 mx-auto md:px-6">

		<div class="rounded-lg p-6 text-neutral-700 shadow-lg dark:text-neutral-200 dark:shadow-black/30">

			<p class="text-lg text-neutral-500 dark:text-neutral-300">
				Nous accordons une grande importance à la confidentialité et à la sécurité des informations personnelles de nos visiteurs et clients. Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons vos informations lorsque vous utilisez notre site web ou nos services. Veuillez lire attentivement les informations suivantes :
			</p>
			<br>
			<ul class=" ">
				<h2 class="mb-5 text-3xl font-semibold">Collecte d'informations</h2>
				<p>
					Nous collectons des informations personnelles, telles que votre nom, votre adresse e-mail et votre numéro de téléphone, lorsque vous remplissez des formulaires sur notre site web ou lorsque vous nous contactez par e-mail ou par téléphone. Ces informations sont collectées dans le but de vous fournir des services personnalisés et de vous contacter en réponse à vos demandes
				</p>
				<li class="w-full mb-5 border-b-2 border-dark-100 border-opacity-100 py-4 dark:border-opacity-50"></li>
				<h2 class="mb-5 text-3xl font-semibold">Utilisation des informations</h2>
				<p>
					Les informations personnelles que nous collectons peuvent être utilisées pour:
				</p>
				<ol class="py-4 m-5" style="list-style-type: square ">
					<li>Répondre à vos questions, demandes d'informations ou demandes de rendez-vous.</li>
					<li>Vous fournir des services de consultation et des conseils nutritionnels personnalisés.</li>
					<li>Vous envoyer des informations supplémentaires, des newsletters ou des mises à jour concernant nos services, uniquement si vous avez donné votre consentement pour recevoir de telles communications.
					</li>
					<li>Améliorer notre site web et nos services en analysant les données d'utilisation et les commentaires des utilisateurs.</li>
				</ol>
				<li class="w-full mb-5 border-b-2 border-dark-100 border-opacity-100 py-4 dark:border-opacity-50"></li>
				<h2 class="mb-5 text-3xl font-semibold">Protection des informations</h2>
				<p>
					Nous mettons en place des mesures de sécurité techniques, administratives et physiques pour protéger vos informations personnelles contre tout accès non autorisé, toute divulgation, altération ou destruction. Vos informations sont stockées de manière sécurisée et nous ne les conservons que pendant la durée nécessaire pour atteindre les finalités pour lesquelles elles ont été collectées.
				</p>
				<li class="w-full mb-5 border-b-2 border-dark-100 border-opacity-100 py-4 dark:border-opacity-50"></li>
				<h2 class="mb-5 text-3xl font-semibold">Cookies et technologies similaires</h2>
				<p>
Notre site web peut utiliser des cookies et d'autres technologies similaires pour améliorer votre expérience de navigation. Les cookies sont de petits fichiers texte stockés sur votre appareil qui collectent des informations sur votre utilisation du site. Vous pouvez configurer votre navigateur pour refuser les cookies ou pour vous alerter lorsque des cookies sont envoyés				</p>
				<li class="w-full mb-5 border-b-2 border-dark-100 border-opacity-100 py-4 dark:border-opacity-50"></li>
			</ul><h2 class="mb-5 text-3xl font-semibold">Modification de la politique de confidentialité </h2>
				<p>
Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera affichée sur cette page avec une indication de la date de mise à jour. Nous vous encourageons à consulter régulièrement cette politique de confidentialité pour rester informé des mesures que nous prenons pour protéger vos informations personnelles.		</div>

	</div>
	<!-- Container for demo purpose -->
{% endblock %}
