{% extends 'base.html.twig' %}

{% block title %}Nouveau Régime{% endblock %}

{% block body %}

<style>
		h1 {
			text-align: center;
			color: #c52126;
			font-family: 'Courgette', cursive;
		}
        a {
			color: #92c83e;
		}
	</style>
    <h1 class="text-center">Ajouter un régime</h1>
<div class="flex items-center justify-between mr-12">
    <a class="m-12" href="{{ path('app_regime_index') }}"><i class="fa-solid fa-arrow-left"></i> Retour à la liste des régimes</a>
</div>
    {{ include('regime/_form.html.twig') }}

{% endblock %}
